@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Montserrat:ital,wght@0,700;1,800&display=swap');


.sidebar{
    background-color: rgb(230, 230, 230);
    background-blend-mode: multiply,multiply;
    max-width: 30vh;
    height: 100vh;
    color: white;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    padding: 10px;
}

body{
    padding: 0;
    margin: 0;
}

a{
    position: relative;
    display: inline-block;
    transition: .3s;
    color: rgb(97, 97, 97);
    text-decoration: none;
    font-family: 'Josefin Slab', serif;
font-family: 'Montserrat', sans-serif;
  }
  
  a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #31aae2;
    transition: .3s;
    transform: translateX(-50%);
  }
  
  a:hover::after{
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #797979;
  }

  .card{
    width: 250px;
    height: auto;
  }
  .card__imgframe{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__textbox{
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #ffffff;
    box-sizing: border-box;
  }
  .card__textbox > * + *{
    margin-top: 10px;
  }
  .card__titletext{
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
  }
  .card__overviewtext{
    font-size: 12px;
    line-height: 150%;
  }

  .card-skin{
    overflow: hidden;
    border-radius: 8px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 5px #888;
    
    }
    